button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

#container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.message {
  border: 1px solid black;
  padding: 2rem;
  font-size: 2rem;
}

.buttons {
  border: 1px solid black;
  padding: 2rem;
  font-size: 2rem;
}

.board-container {
  padding: 2rem;
}

.player-name {
  text-align: center;
}

.board {
  display: grid;
  width: 35vw;
  height: 35vw;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
}

.ship {
  background-color: burlywood;
  outline: 2px solid brown;
}

.hit {
  background-color: green;
  outline: 2px solid green;
}

.miss {
  background-color: lightgray;
  outline: 2px solid lightslategray;
}